html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
}
