.OverlayHeader {
  color: #343a3f;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  background: #f6f6f7;
  border-bottom: 1px solid transparent;
  position: sticky;
  top: 0;
  transition: box-shadow 0.5s, border-color 0.5s;
  width: 100%;
  z-index: 5;
}

.HeaderMain {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  vertical-align: initial;
  background: #f2f4f8;
  color: #343a3f;
  display: flex;
  flex: 0 0 auto;
  padding: 0 20px;
  padding-left: 8%;
  padding-right: 8%;
  flex-direction: column;
}

.HeaderPart1 {
  color: #343a3f;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  align-items: center;
  display: flex;
  flex: 1 0 auto;
}

.HeaderPart1_Left {
  color: #343a3f;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  display: flex;
  flex: 0 0 auto;
  padding-right: 20px;
  align-items: flex-end;
  padding-bottom: 7px;
  height: 70px;
}

.HeaderPart1_LeftButton {
  font-family: Circular, -apple-system, BlinkMacSystemFont, system, sans-serif;
  align-content: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 16px;
  height: 40px;
  padding: 0 12px;
  background: #e5e8ec;
  color: #21272a;
}

.HeaderPart1_LeftButton_Span1 {
  cursor: pointer;
  white-space: nowrap;
  color: #21272a;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  box-sizing: border-box;
  align-self: center;
}

.HeaderPart1_LeftButton_Span2 {
  cursor: pointer;
  white-space: nowrap;
  color: #21272a;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  box-sizing: border-box;
  align-self: center;
}

.HeaderPart1_Mid {
  color: #343a3f;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  padding-right: 20px;
  flex-grow: 1;
  height: 70px;
}

.HeaderPart1_Right {
  color: #343a3f;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  display: flex;
  flex: 0 0 auto;
  align-items: flex-end;
  padding-bottom: 7px;
  height: 70px;
}

.HeaderPart1_Right_Button {
  font-family: Circular, -apple-system, BlinkMacSystemFont, system, sans-serif;
  align-content: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 16px;
  height: 40px;
  padding: 0 12px;
  background: #3d73da;
  color: #fff;
}

.HeaderPart1_Right_Button_Span {
  cursor: pointer;
  white-space: nowrap;
  color: #fff;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  box-sizing: border-box;
  align-self: center;
}

.HeaderPart2 {
  color: #343a3f;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  align-items: center;
  display: flex;
  flex: 1 0 auto;
}

.HeaderPart2_Inside {
  color: #343a3f;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-grow: 1;
  height: 70px;
}

.HeaderPart2_H1 {
  color: #343a3f;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  outline: 0;
  padding: 0;
  vertical-align: initial;
  font-size: 32px;
  font-weight: 800;
  margin: 0 0 5px;
}
